<html>
  <head>
    <title>Sample HTML</title>
    <script src="script.js"></script>
  </head>
  <body>
    <h1></h1>
    <%= title %>
    <button
      _<% if (true) { %> class="active" <% } %>
      onclick="alert('Button clicked!')">Click Me</button>

    <select>

      <option value="1"
        _<% if (selectedOption === '1') { %> selected <% } %>>Option 1</option>
    </select>
  </body>
</html>